.title{
    text-align: center;
    margin: 5rem auto auto auto;
    background-color: #000
    color:#fff;
    background-image: url("images/bgphoto4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.heading{
    font-size: 6.5rem;
    font-family: "Galada",cursive;
    padding: 1rem;
    color: #ffd11a;
}

.btn{
    width: 200px;
    margin: 15px;
    animation: moveInRight 1s ease-out;
}



.row{
    text-align: center;
    margin: auto;
}

body{
    text-align: center;
}

.block{
    padding: 25px;
    margin: 100px;
}

td:hover{
    background-color: red;
    color: white;
    text-align: center;
}

#year{
    padding: 1rem;
}

#title{
    width: 90vw;
    padding: 10px;
    position: relative;
    right: 4vw;
}

.center,thead{
    text-align: center;
}

select{
    height: 500px;
    overflow-y: scroll;
}

#date,#month,#submit{
    border: solid 2px #fff;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.9;
    background-color: hsla(51, 100%, 50%, 0.555);
    transition: all 0.2s;
}


#date:hover,#month:hover,#submit:hover{
    background-color: rgba(255, 255, 0, 0.904);
    transform: translateY(-10px);
    box-shadow: 10px 10px 100px #ffffffc7;
}

.image{
    animation: moveInLeft 1s ease-out;
}

/* Animations */

@keyframes moveInLeft{
    0%{
      opacity: 0;
      transform: translateX(-200px);
  
    }
  
    80%{
    opacity: 0.8; 
    transform: translateX(10px); 
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  }

  @keyframes moveInRight{
    0%{
      opacity: 0;
      transform: translateX(200px);
    }
  
    80%{
    opacity: 0.8;  
    transform: translateX(-10px);
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  } 

