body{
    background-image: url(img/marvels-avengers-normal-hero-background-01-ps4-us-10jul19.jpg);
    background-size: 100% 100vh;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

.icon{
    position: absolute;
    width: 15vw;
}

.cap{
    left: 0;
}
.im{
    right: 0;
    top: 300px;
}

.hweye{
    left: 0;
    top: 600px;
}

.hulk{
    right: 0;
    top: 880px;
}

.bw{
    left: 0;
    top: 1200px;
}
.thor{
    right: 0;
    top: 1500px;
}

.main{
    display: inline-block;
    /* background-color: sienna; */
    height: auto;
    width: 70%;
    font-family: 'Red Rose', cursive;
    font-weight: bolder;
}

/* .box{
     position: relative;  
} */
span{
    display: inline-block;
    height: 10%;
    width: 10%;
    position: relative;
}
.marvel{
    display: inline;
    width: 25%;
    vertical-align: -36px;  
    animation: pulsate .3s infinite ;
    
} 


/* heading */


.para-hulk{
    color: rgb(5, 150, 53);
    animation: moveInRight .5s;
    font-size: 30px;

}

.box{
    color: hotpink;
    font-size: 45px;
    /* font-size: medium; */
}

.para-avengers{
   color: rgb(194, 19, 19);
   animation: moveInLeft .5s;
   font-size: 30px;
}

h1{
    color: yellow;
    animation: moveInRight .5s;
}

.closing{
    color: rgba(0, 225, 255, 0.753);
    animation: moveInLeft .5s;
    font-size: 30px;
}

iframe{
    border-radius: 30px;
}

@media (max-width: 800px) and (min-width:200px){
    .para-hulk, .para-avengers, .closing{
        font-size: 20px;
        text-align: justify;
    }

    body{
        margin: 10px;
    }
    .main{
        width: 90vw;
        text-align: center;
        position: relative;
        left: 0vw;
    }

    img.marvel{
        bottom: 50px;
        width: 30%;
        position: relative;
        top: -15px;
    }

    .icon{
        position: static;
        width: 15vw;
    }

    div.icons div{
        display: inline;
    }

    .wish-arshiya{
        font-size: 20px;
    }

    .hbd-arshiya{
        font-size: 30px;
    }

    iframe{
        width: 90vw;
        border-radius: 30px;
    }

}

/* Animations */

@keyframes moveInLeft{
    0%{
      opacity: 0;
      transform: translateX(-200px);
  
    }
  
    80%{
    opacity: 0.8; 
    transform: translateX(10px); 
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  }

  @keyframes moveInRight{
    0%{
      opacity: 0;
      transform: translateX(200px);
    }
  
    80%{
    opacity: 0.8;  
    transform: translateX(-10px);
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  } 

  @keyframes pulsate{
   0%{
      transform: scale(1);
      box-shadow: none;
   }
   50%{
      transform: scale(1.05);
      /* box-shadow: 1px 2px rgba(255, 173, 51, 0.6); */
   }
   100%{
      transform: scale(1);
      box-shadow: none;
   }
   
}




/* wishes */

div.wish-box{
    display: block;
    width: 60%;
    border: white solid 2px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin: 50px 0;
    background: 	#2d383aa4;
    border-radius: 50px;
}

div.wish-box p{
    color: rgb(236, 235, 225);
    font-size: 20px;
    text-align: justify;
}
div.wish-box p::first-line{
    font-size: 25px;
    color: #efff10;
}
input{
    padding: 5px;
    width: 85%;
    height: 30px;
    border: none;
    border-radius: 30px;
    position: relative;
    bottom: 15px;
}

.submit{
    background-color: white;
    font-size: 24px;
    width: 6%;
    height: 40px;
    border: none;
    margin-left: 5px;
    border-radius: 100%;
}


.blur{
    filter: blur(15px);
    transition: all 0.3s;
}

.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

img.popup-img{
    width: 45vw;
    height: 80vh;
    display: inline-block;  
    border-radius: 30px;
}



.popup-box.visible{
    visibility: visible;
    opacity: 1;
}

#close-icon{
    position: absolute;
    font-size: 45px;
    border-radius: 100%;
    color: white;
    background-color: white;
    margin-top: 30px;
}


.animation{
    animation: top 0.7s ease-out backwards;
}

@keyframes top{
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.pop-up-heading{
    display: inline;
    font-family: "Bangers", sans-serif;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: #0af5f5 5px 5px 33px ;
}

#red{
    text-shadow: red 5px 5px 33px;
}

#blue{
    text-shadow: #0af5f5 5px 5px 33px;
    margin-left: 8px;
}

.heading-box{
    position: absolute;
    top: -50px;
}

@media (max-width: 800px) and (min-width:200px){
    div.wish-box{
        width: 80vw;
    }

    div.wish-box p{
        font-size: 12px;
    }

    img.popup-img{
        width: 80vw;
        height: 60vh ;
    }

    #close-icon{
        left: 50%;
        transform: translateX(-50%);
    }
    .pop-up-heading{
        font-family: "Bangers", sans-serif;
        font-size: 50px;
    }
}

/* arshiya */

p.wish-arshiya{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.hbd-arshiya{
    font-size: 35px;
}

