body{
    background-image: url(img/marvels-avengers-normal-hero-background-01-ps4-us-10jul19.jpg);
    background-size: 100% 100vh;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

.icon{
    position: absolute;
}

.cap{
    left: 0;
}
.im{
    right: 0;
    top: 300px;
}

.hweye{
    left: 0;
    top: 600px;
}

.hulk{
    right: 0;
    top: 900px;
}

.bw{
    left: 0;
    top: 1200px;
}
.thor{
    right: 0;
    top: 1500px;
}