body{
    background-image: url(img/marvels-avengers-normal-hero-background-01-ps4-us-10jul19.jpg);
    background-size: 100% 100vh;
    text-align: center;
    font-family: 'Red Rose', cursive;
}

.icon{
    position: absolute;
    width: 15vw;
}

.cap{
    left: 0;
}
.im{
    right: 0;
    top: 300px;
}

.hweye{
    left: 0;
    top: 600px;
}

.hulk{
    right: 0;
    top: 880px;
}

.bw{
    left: 0;
    top: 1200px;
}
.thor{
    right: 0;
    top: 1500px;
}

.main{
    display: inline-block;
    /* background-color: sienna; */
    height: auto;
    width: 70%;
    font-family: 'Red Rose', cursive;
    font-weight: bolder;
    font-size: xx-large;
}

/* .box{
     position: relative;  
} */
span{
    display: inline-block;
    height: 10%;
    width: 10%;
    position: relative;
}
.marvel{
    display: inline;
    width: 16%;
    vertical-align: -36px;
    /* position: absolute; */
    /* top: 10px; */
    /* padding: 5px; */

    animation: pulsate .3s infinite ;
    
} 


/* heading */


.para-hulk{
color: rgb(5, 150, 53);
animation: moveInRight .5s;

}

.box{
    color: hotpink;
    /* font-size: medium; */
}

.para-avengers{
   color: rgba(194, 19, 19, 0.815);
   animation: moveInLeft .5s;
}

h3{
    color: yellow;
    animation: moveInRight .5s;
}

.closing{
    color: rgba(0, 81, 255, 0.637);
    animation: moveInLeft .5s;
}


/* Animations */

@keyframes moveInLeft{
    0%{
      opacity: 0;
      transform: translateX(-200px);
  
    }
  
    80%{
    opacity: 0.8; 
    transform: translateX(10px); 
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  }

  @keyframes moveInRight{
    0%{
      opacity: 0;
      transform: translateX(200px);
    }
  
    80%{
    opacity: 0.8;  
    transform: translateX(-10px);
    }
    100%{
    opacity: 1;
    transform: translateX(0);
    }
  } 

  @keyframes pulsate{
   0%{
      transform: scale(1);
      box-shadow: none;
   }
   50%{
      transform: scale(1.05);
      /* box-shadow: 1px 2px rgba(255, 173, 51, 0.6); */
   }
   100%{
      transform: scale(1);
      box-shadow: none;
   }
}


/* wishes */

div.wish-box{
    display: inline-block;
    width: 33vw;
    border: white solid 2px;
    padding: 10px;
}

div.wish-box p{
    color: white;
    text-align: justify;
}

input{
    padding: 5px;
    width: 80%;
    height: 30px;
}

.submit{
    position: relative;
    top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}


.blur{
    filter: blur(15px);
    transition: all 0.3s;
}

.popup-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

img.popup-img{
    width: 45vw;
    display: inline-block;
    
}

.popup-box.visible{
    visibility: visible;
    opacity: 1;
}

#close-icon{
    position: absolute;
    font-size: 45px;
    border-radius: 100%;
    color: white;
    background-color: white;
    margin-top: 30px;
}


.animation{
    animation: top 0.7s ease-out backwards;
}

@keyframes top{
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}